body {
    background-color: rgb(190, 54, 13);
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: rgb(52, 135, 243);
  }
  #title {
    color: #FFF
  }
  p.copyright {
      position: absolute;
      width: 100%;
      color: #fff;
      line-height: 40px;
      font-size: 0.7em;
      text-align: center;
      bottom:0;
  }